<div class="cities__places-container container" [class.cities__places-container--empty]="isPreviewsEmpty()"
  [class.page__main--index-empty]="isPreviewsEmpty()">
  @if(!isPreviewsEmpty()) {
  <app-place-list [previews]="filteredPreviews()" [cityName]="cityName()" />
  <div class="cities__right-section">
    <app-map [markers]="markers()" [className]="'cities__map'" [center]="center()" />
  </div>
  } @else {
  <section class="cities__no-places">
    <div class="cities__status-wrapper tabs__content">
      <b class="cities__status">No places to stay available</b>
      <p class="cities__status-description">
        We could not find any property available at the moment in {{cityName()}}
      </p>
    </div>
  </section>
  <div class="cities__right-section"></div>
  }
</div>
