<header class="header" data-testid="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__left">
        <a class="header__logo-link" [class.header__logo-link--active]="isLogoActive" [routerLink]="logoLink"
          (click)="logoClickHandler($event)">
          <img class="header__logo" src="img/logo.svg" alt="6 cities logo" width={81} height={41} />
        </a>
      </div>

      @if (shouldUserInfoRender) {
      <nav class="header__nav" data-testid="nav">
        <ul class="header__nav-list">
          <li class="header__nav-item user">
            <a class="header__nav-link header__nav-link--profile" [routerLink]="favoriteLink"
              (click)="emailClickHandler()">

              <div class="header__avatar-wrapper user__avatar-wrapper">
                @if (user) {
                <img src={user.avatarUrl} alt="User avatar">
                }
              </div>

              @if (user) {
              <span class="header__user-name user__name" data-testid="user-email">{{user.email}}</span>
              <span class="header__favorite-count" data-testid="favorites-count">{{favorites.length}}</span>
              } @else {
              <span class="header__login" data-testid="login-link">Sign in</span>
              }

            </a>
          </li>
          @if (user) {
          <li class="header__nav-item" data-testid="logout-link">
            <a class="header__nav-link" [routerLink]="logoutLink" (click)="logoutHandler()">
              <span class="header__signout">Sign out</span>
            </a>
          </li>}
        </ul>
      </nav>
      }
    </div>
  </div>
</header>