<form class="reviews__form form" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <label class="reviews__label form__label" for="review">Your review</label>
  <div class="reviews__rating-form form__rating">
    @for(grade of ratingGrades; track grade; let i = $index) {
    <input class="form__rating-input visually-hidden" type="radio" [value]="ratingValues[i]" [id]="`${grade}-star`"
      [formControl]="reviewForm.controls.rating" />
    <label class="reviews__rating-label form__rating-label" [title]="grade" [for]="`${grade}-star`">
      <svg class="form__star-image" width="37" height="33">
        <use xlink:href="#icon-star" />
      </svg>
    </label>
    }
  </div>
  <textarea class="reviews__textarea form__textarea" id="review" [formControl]="reviewForm.controls.review"
    placeholder="Tell how was your stay, what you like and what can be improved"></textarea>
  <div class="reviews__button-wrapper">
    <p class="reviews__help">
      To submit review please make sure to set
      <span class="reviews__star">rating</span> and describe your stay with at least
      <b class="reviews__text-amount">{{ minTextLength }} characters</b>.
    </p>
    <button class="reviews__submit form__submit button" type="submit" [disabled]="reviewForm.invalid || isSubmitting">
      {{ isSubmitting ? 'Submitting...' : 'Submit' }}
    </button>
  </div>
</form>
