<section class="locations container">
  <ul class="locations__list tabs__list">
    @for (name of cityNames; track name) {
    <li class="locations__item" (click)="tabClickHandler($event)" (keydown.enter)="tabClickHandler($event)" tabindex="0"
      [attr.data-tab-name]="name">
      <a href="#" class="locations__item-link tabs__item" [class.tabs__item--active]="(activeCityName === name)"
        (click)="anchorClickHandler($event)">
        <span>{{name}}</span>
      </a>
    </li>
    }
  </ul>
</section>