<section class="cities__places places">
  <h2 class="visually-hidden">Places</h2>
  <b class="places__found">{{previewQuantity()}} {{'place' | pluralize:previewQuantity()}} to stay in {{cityName()}}</b>

  <app-place-sort [(activeSortType)]="activeSortType" />

  <div class="cities__places-list places__list tabs__content">
    @for(preview of sortedPreviews(); track preview.id) {
    <app-place-card [preview]="preview" [cardClassName]="'cities__card'" [imageClassName]="'cities__image-wrapper'"
      [mouseEventHandler]="handleMouseEvent" />
    }
  </div>
</section>